body {
  font-family: "Nunito", sans-serif;
  background-color: #2b5698;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3498db #262b2f;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #262b2f;
}
*::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 20px;
  border: 3px solid #262b2f;
}

.resume-item {
  padding: 30px 0 30px 20px;
  border-left: 2px solid #1F78C6;
  position: relative;
  line-height: 1.6;
}

.resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 37px;
  background: #fff;
  border: 2px solid #1F78C6;
}

.dates {
  font-size: 16px;
  background: #ededed;
  border-radius: 15px;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 10px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: x-large;
  margin-bottom: 20px;
}

h3 {
  color: #1F78C6;
  font-weight: 700;
  font-variant-caps: all-petite-caps;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1.5px;
  border-image: 
    linear-gradient(
      to right, 
      #1F78C6, 
      rgba(0, 0, 0, 0)
    ) 0 1 100%;
}

h4 {
  margin-bottom: 20px;
}

#header a {
  white-space: nowrap;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

#header a:hover {
  color: white;
  text-shadow:0px 0px 1px white;
}

@media (max-width: 765px) {
  #header a:before {
      content:'';
      display: block;
      margin-bottom: 10px;
  }
}

#header {
  padding-top: 8vw;
  color: white
}

.grey-bg {
  background-color: #f5f5f5;
}