/* Variables */

:root {
  --background-color: #f6f8fc;
  --background-off-color: #f4f6fb80;
  --main-background-color: #ffffff;
  --borders-color: #d1d7e4;

  --text-color: #282829;
  --text-muted-color: #6a6c72;
  --header-color: #2a7dd5;
  --link-color: #2a7dd5;

  --color-red: #860c0c;
  --color-green: #1b860c;
  --color-blue: #1e50c6;
  --color-aqua: #068074;
  --color-pink: #860c6d;
  --color-orange: #86510c;
  --color-purple: #8418dd;

  --header-font-family: "Overlock", sans-serif;
  --body-font-family: "Monaspace Neon", monospace, sans-serif;
}

:root[data-theme="dark"] {
  /* TODO: WIP */
  --background-color: #1a1a1a;
  --background-off-color: #171818;
  --main-background-color: #111111;
  --borders-color: #5b6069;

  --text-color: #f2f2f2;
  --text-muted-color: #969aa7;
  --header-color: #2e8cf0;
  --link-color: #5299ff;

  --color-red: #d14a4a;
  --color-green: #2fd12f;
  --color-blue: #7298f0;
  --color-aqua: #45d9cb;
  --color-pink: #dd64c4;
  --color-orange: #dba053;
  --color-purple: #c186f2;
}

::selection {
  background: var(--borders-color);
}

@font-face {
  /* TODO: figure out why font features are not working */
  font-family: "Monaspace Neon";
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 100 125;
  font-display: swap;
  src: url("/static/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2") format("woff2");
  src: url("/static/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2") format("woff2") tech("variations");
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400;
  font-feature-settings: "calt", "liga", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08";
}

/* Main */

body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: var(--body-font-family);
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.5;

  max-width: 1200px;
  padding: 0 50px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: var(--main-background-color);
  border-radius: 20px;
  border: 1px solid var(--borders-color);
}

#main-header {
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--background-off-color);
  border-bottom: 1px solid var(--borders-color);
}

#main-content {
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

/* Header */

header {
  padding-bottom: 20px;
}

#header-image {
  height: 5em;
  border-radius: 3em;
  float: left;
  margin-right: 20px;
  border: 1px solid var(--borders-color);
  background-color: var(--main-background-color);
  padding: 3px;
}

#header-card {
  padding-left: 30px;
  padding-right: 30px;
}

#header-card > h1 {
  color: var(--text-color);
  margin-bottom: 0;
}

#header-card > p {
  margin-top: 5px;
  margin-bottom: 20px;
}

header > nav {
  padding: 0 20px;
  background-color: var(--main-background-color);
  border-radius: 20px;
  border: 1px solid var(--borders-color);
  height: 35px;
  display: flex;
  justify-content: space-between;
}

header > nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header > nav > ul > li {
  float: left;
}

header > nav > ul > li > a {
  color: var(--text-color);
  border-bottom: none;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500;
  padding: 0 10px;
  display: inline-block;
  height: 29px;
  padding-top: 6px;
}

header > nav > ul > li > a:hover {
  background-color: var(--background-off-color);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  color: var(--text-muted-color);
}

/* Tags */

pre {
  line-height: 1;
}

p > img {
  display: block;
  max-width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--borders-color);
  border-radius: 10px;
}

p > .img-caption {
  display: block;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 25px;
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  font-weight: 700;
  color: var(--header-color);
  margin-bottom: 0px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

hr {
  margin-top: 30px;
  border: 0;
  border-top: 1px solid var(--borders-color);
}

strong, b {
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 700;
}

a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
  padding-top: 3px;
  padding-bottom: 3px;
}

a:hover {
  color: var(--link-color);
  border-color: var(--link-color);
}

main a[target="_blank"]:after {
  content: "\f08e";
  font-family: 'Font Awesome 6 Pro';
  font-size: 0.6em;
  margin-left: 5px;
  vertical-align: super;
}

p > code {
  font-family: var(--body-font-family);
  background-color: var(--background-off-color);
  border: 1px solid var(--borders-color);
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 3px;
}

pre code {
  font-family: var(--body-font-family);
  background-color: var(--background-off-color);
  border: 1px solid var(--borders-color);
  border-radius: 10px;
  padding: 15px;
  padding-left: 20px;
  display: block;
  width: auto;
  overflow: scroll;
}

/* Helpers */

.no-radius {
  border-radius: 0;
}

.h-30 {
  height: 30px;
}

.h-35 {
  height: 35px;
}

.h-40 {
  height: 40px;
}

.ms-1 {
  margin-left: 0.4em;
}

.me-1 {
  margin-right: 0.4em;
}

.me-2 {
  margin-right: 0.8em;
}

.mx-1 {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.no-wrap {
  white-space: nowrap;
}

.color-red {
  color: var(--color-red);
}

.color-green {
  color: var(--color-green);
}

.color-blue {
  color: var(--color-blue);
}

.color-aqua {
  color: var(--color-aqua);
}

.color-pink {
  color: var(--color-pink);
}

.color-orange {
  color: var(--color-orange);
}

.color-purple {
  color: var(--color-purple);
}

/* Resume cards */

.resume-cards-group {
  margin-top: 10px;
}

.resume-cards-group > .resume-card:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.resume-cards-group > .resume-card:first-child > .resume-card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.resume-cards-group > .resume-card:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.resume-cards-group > .resume-card:last-child > .resume-card-header:only-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.resume-cards-group > .resume-card:not(:last-child) {
  border-bottom: none;
}

.resume-card {
  border: 1px solid var(--borders-color);
}

.resume-card-header {
  background-color: var(--background-off-color);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-card-content {
  border-top: 1px solid var(--borders-color);
}

.resume-card-content > ul {
  margin: 0;
  padding: 15px;
  padding-left: 30px;
}

/* Blog cards */

#blog-list > .blog-list-item:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--borders-color);
}

#blog-list > .resume-cards-group:first-child {
  margin-top: 20px;
}

#blog-list > .resume-cards-group:not(:first-child) {
  margin-top: 30px;
}

/* Responsiveness */

@media (max-width: 576px) {
  body {
    padding: 0 0;
  }

  main {
    border-radius: 0;
  }

  #main-header,
  #main-content {
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  header > nav {
    border-radius: 0;
  }

  #header-card {
    padding-left: 15px;
    padding-right: 15px;
  }

  #blog-list > .resume-cards-group:not(:first-child) {
    margin-top: 15px;
  }

  footer {
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    padding: 10px 30px;
  }
}

@media (max-width: 768px) {
  .d-sm-none {
    display: none;
  }
}

@media (max-width: 992px) {
  .d-md-none {
    display: none;
  }
}
