<div id="blog-list">
  {% for post in posts %}
    <div class="blog-list-item">
      <h4>{{ post.title_raw }}</h4>

      <p>“{{ post.description }}”</p>

      <span class="me-2"><i class="fa-duotone fa-light fa-book-open" style="color: #770606"></i>
      <a href="{{ post.url_absolute }}">Read the post</a></span>

      <span class="me-2"><i class="fa-duotone fa-light fa-calendar-lines-pen" style="color: #0a600a"></i>
      {{ post.published_formatted }}</span>

      <span class="me-2"><i class="fa-duotone fa-light fa-tags" style="color: #1f1fbd"></i>
      {% for tag in post.tags %}
        #{{ tag }}{% if not loop.last %}, {% endif %}
      {% endfor %}
      </span>
    </div>
  {% endfor %}
</div>
