<div id="blog-list">
  <div class="resume-cards-group">
  {% for post in posts %}
  {% if post.published %}
    <a href="{{ post.url_absolute }}">
        <div class="resume-card">
          <div class="resume-card-header">
            <div>
              <b style="font-size: 1.2em">{{ post.title_raw }}</b><br />

              <span class="me-2 no-wrap"><i class="fa-duotone fa-light fa-calendar-lines-pen color-green"></i>
                {{ post.published_formatted }}
              </span>
          
              <span class="me-2 no-wrap"><i class="fa-duotone fa-light fa-clock color-blue"></i>
                {{ post.length }} min read
              </span>

              <span class="me-2 no-wrap"><i class="fa-duotone fa-light fa-tags color-purple"></i>
                {% for tag in post.tags %}
                  #{{ tag }}{% if not loop.last %}, {% endif %}
                {% endfor %}
              </span>
            </div>
          </div>
          <!-- <div class="resume-card-content">
            <p style="padding-left: 20px; padding-right: 20px">{{ post.description }}</p>
          </div> -->
        </div>
      </a>
    {% endif %}
    {% endfor %}
    {% if not hide_see_all %}
    <div class="resume-card">
      <div class="resume-card-header">
        <b><i class="fa-solid fa-angle-right me-1"></i><a href="/blog/">See all posts</a></b>
      </div>
    </div>
    {% endif %}
  </div>
</div>
